body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
  }
  
  header {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    box-sizing: border-box;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  nav button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  nav button:hover {
    background-color: #666;
  }
  
  main {
    padding: 20px;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  th, td {
    border: 2px solid white;
    padding: 2px 2px;
    text-align: center;
  }