.zwiebel-search {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .zwiebel-search input {
    padding: 8px;
    background-color: #111;
    border: 1px solid #444;
    border-radius: 5px;
    color: white;
  }
  
  .zwiebel-search button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .zwiebel-search button:hover {
    background-color: #555;
  }
  
  .zwiebel-text {
    background-color: #111;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Zwiebel Kapitel & Subkapitel zentrieren */
#zwiebelContent h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

#zwiebelContent h3 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}